.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: cadetblue;
    display: grid;
    justify-content: center;
    align-items: center;
}

.content {
    color: yellow;
}

.newClass {
    background-color: orangered;
}